// 集成模板
extends ../front_end_layout
block title
    title 工程技术中心-重庆博格曼密封件有限公司

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_program/program.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 工程技术中心   ENGINEERING TECHNOLOGY CENTER
            p.subtitle 首页>>工程技术中心>>常见问题
        .content-detail
            .content-detail-left
                .detail-title
                    h4 常见问题
                    hr
                .detail-content-question
                    .detail-middle
                        div.question-item
                            span.question-title 问：
                            span.question-value 重庆博格曼密封件有限公司以生产什么产品为主？
                        div.question-item
                            span.question-title 答：
                            span.question-value 泵用机械密封及其它类型机械密封等。
                        div.question-item
                            span.question-title 问：
                            span.question-value 产品主要应用在哪些领域？
                        div.question-item
                            span.question-title 答：
                            span.question-value 核电站、石油、化工、化肥、钢铁焦化、煤化工、汽车制造、食品医药等领域。
                        div.question-item
                            span.question-title 问：
                            span.question-value 普通机械密封如何工作？
                        div.question-item
                            span.question-title 答：
                            span.question-value 普通机械密封靠一对或数对垂直于轴作相对滑动的端面在流体压力和补偿机构的弹力作用下保持贴合并配以辅助密封而达到阻漏的轴封装置，因此也叫端面密封；其性能可靠，泄露量小，且能适应生产过程自动化和高温、低温、高压、真空、高速以及各种强腐蚀性介质、含固体颗粒介质等苛刻工况。
                        div.question-item
                            span.question-title 问：
                            span.question-value 机械密封的主要零部件？
                        div.question-item
                            span.question-title 答：
                            span.question-value 静环、动环、传动销、弹簧、弹簧座、紧定螺钉、传动螺钉、推环、动环密封圈、静环密封圈、止转销、密封压盖等
                        div.question-item
                            span.question-title 问：
                            span.question-value 密封端面上摩擦痕迹大于密封面的宽度是什么原因？
                        div.question-item
                            span.question-title 答：
                            span.question-value 1、泵运转时振动过大。
                            span(style="margin-left:50px").question-value 2、密封动静环不同心。
                        div.question-item
                            span.question-title 问：
                            span.question-value 石墨环表面出现均匀的环状沟纹处理方法？
                        div.question-item
                            span.question-title 答：
                            span.question-value 1、采用适量的冲洗和冷却。
                            span(style="margin-left:50px").question-value 2、选用导热系数高的材料。
                            span(style="margin-left:50px").question-value 3、减少抽空和汽蚀，采用平衡型密封。

            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../program/quality") 质保控制
                        li
                            a(href="../program/question") 常见问题
                .hot-recommend
                    h4 热点内容
                    ul
                        -for(var i = 0; i < hotRecommend.length; i++)
                            li
                                a(href="../news/detail?id=#{hotRecommend[i]._id}").title #{hotRecommend[i].title}
                                span.title-date #{hotRecommend[i].formatCreatedTime}

// 引入私有的js
block js
