.front_end_header_holder
    .front_end_header_container
        .front-end-header-left
            img(src="/images/logo.png")
        .front-end-header-right
            p
                i.fa.fa-phone
                | 全国销售热线：023-68329999
.navbox
    .nav
        li.drop-menu-effect
            a(href='/')
                span 网站首页
        li.drop-menu-effect
            a(href='../about')
                span 企业概况
            .submenu
                .mj_menu_news_bg
                    .mj_menu_news_main
                        .mj_menu_news_li
                            .mj_menu_li_txt
                                a(href='../about') 公司简介
                                br
                                a(href='../about/develop') 发展历程
                                br
                                a(href='../about/honor') 荣誉资质
                                br
                                a(href='../about/enterprise') 企业形象
                                br
                                a(href='../about/speech') 董事长致辞
                        .mj_menu_news_img
                            img(src='../images/front_end/p.png')
                            br
                            font 企业概况
                        div(style='clear:both; height:0px; overflow:hidden;')
        li.drop-menu-effect
            a(href="../product/pumps?series=magnetic")
                span 产品中心
            .submenu
                .mj_menu_news_bg
                    .mj_menu_news_main
                        .mj_menu_news_li
                            .mj_menu_li_txt
                                a(href="../product/pumps?series=magnetic") 磁力泵系列
                                br
                                a(href="../product/pumps?series=chemical") 化工泵系列
                                br
                                a(href="../product/pumps?series=pitot") 皮托管泵系列
                                br
                                a(href="../product/seals") 机械密封系列
                        .mj_menu_news_img
                            img(src='../images/front_end/p.png')
                            br
                            font 产品中心
                        div(style='clear:both; height:0px; overflow:hidden;')
        li.drop-menu-effect
            a(href='../news/company')
                span 新闻资讯
            .submenu
                .mj_menu_news_bg
                    .mj_menu_news_main
                        .mj_menu_news_li
                            .mj_menu_li_txt
                                a(href='../news/company') 公司新闻
                                br
                                a(href='../news/industry') 行业新闻
                        .mj_menu_news_img
                            img(src='../images/front_end/p.png')
                            br
                            font 资讯中心
                        div(style='clear:both; height:0px; overflow:hidden;')
        li.drop-menu-effect
            a(href='../program/quality')
                span 工程技术中心
            .submenu
                .mj_menu_news_bg
                    .mj_menu_news_main
                        .mj_menu_news_li
                            .mj_menu_li_txt
                                a(href='../program/quality') 质保控制
                                br
                                //a(href='../program/system') 质保体系
                                //br
                                a(href='../program/question') 常见问题
                                br
                        .mj_menu_news_img
                            img(src='../images/front_end/p.png')
                            br
                            font 工程技术中心
                        div(style='clear:both; height:0px; overflow:hidden;')
        li.drop-menu-effect
            a(href='../contact')
                span 联系我们
            //.submenu(style='left:-347px;')
            //    .mj_menu_news_bg
            //        .mj_menu_news_main
            //            .mj_menu_news_li2
            //                .mj_menu_li_txt
            //                    a(href='#') 联系方式
            //                    br
            //                    a(href='#') 智能地图
            //                    br
            //                    a(href='#') 人才招聘
            //                    br
            //                    a(href='#') 在线留言
            //            .mj_menu_news_img2
            //                img(src='../images/front_end/p.png')
            //                br
            //                font 联系我们
            //            div(style='clear:both; height:0px; overflow:hidden;')
        li.drop-menu-effect
            a(href='../join')
                span 加入我们
            //.submenu(style='left:-347px;')
            //    .mj_menu_news_bg
            //        .mj_menu_news_main
            //            .mj_menu_news_li3
            //                .mj_menu_li_txt
            //                    a(href='#') 工程实例名录
            //                    br
            //                    a(href='#') 部分案例图片
            //            .mj_menu_news_img3
            //                img(src='../images/front_end/p.png')
            //                br
            //                font 工程科技研究中心
            //            div(style='clear:both; height:0px; overflow:hidden;')
