doctype html
html
    head
        block title
        meta(name='”renderer”', content='”webkit”')
        meta(http-equiv='”X-UA-Compatible”', content='”IE=Edge,chrome=1″')
        meta(name="baidu-site-verification", content="a3krme75fi")
        meta(name='Keywords', content='博格曼，重庆博格曼, 重庆博格曼密封件，机械密封，密封，重庆博格曼密封件有限公司')
        meta(name='Description', content='重庆博格曼密封件有限公司坐落于西部唯一的年轻直辖市--重庆，是一家集生产、研发、销售为一体，并通过ISO9001认证的机械密封生成制造企业。我们不是什么都做的企业，我们只专业研发制造泵用机械密封。')
        // favicon.icon
        link(href='/images/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='/images/favicon.ico', rel='icon', type='image/x-icon')
        link(href='/images/favicon.ico', rel='bookmark', type='image/x-icon')
        // 引入共有的common.css文件
        link(rel='stylesheet', href='/css/front_end/front_end_common.css')
        // 引入字体样式
        link(rel='stylesheet', href='/plugins/font/font-awesome.css')
        // 引入swiper
        //link(rel='stylesheet', href='/plugins/swiper/swiper.min.css')

        // 定义私有的css block
        block css
    body
        // 引入共有的header
        include ./front_end_header.jade

        .content-wrapper
            block content

        // 引入共有的header
        include ./front_end_footer.jade

        // 引入公有的JS文件
        script(src='/plugins/jquery/jquery.1.12.5.min.js')
        script(src='/plugins/swiper/swiper.min.js')
        script(src='/js/front_end/common.js')
        script(src='/js/front_end/header.js')

        // 定义私有的js block
        block js