div(class='front_end_footer_container')
    div(class="front_end_footer")
        div(class="front_end_item_container front_end_footer_item")
            div(class="footer-item-detail first-item-detail")
                h3 关于伊尔
                h4 ABOUT YIR
                div(class="dividing-line-container")
                    img(src="/images/front_end/item_detail_mark.png")
                ul
                    li()
                        a(href="/about") 公司简介
                    li()
                        a(href="/about/develop") 发展历程
                    li()
                        a(href="/about/honor") 荣誉资质
                    li()
                        a(href='../about/images') 企业形象
                    //li()
                    //    a(href='../about/speech') 董事长致辞
            div(class="footer-item-detail")
                h3 产品中心
                h4 PRODUCT CENTER
                div(class="dividing-line-container")
                    img(src="/images/front_end/item_detail_mark.png")
                ul
                    li
                        a(href="../product/pumps?series=magnetic") 磁力泵系列
                    li
                        a(href="../product/pumps?series=chemical") 化工泵系列
                    li
                        a(href="../product/pumps?series=pitot") 皮托管泵系列
                    li
                        a(href="../product/seals") 机械密封系列
            div(class="footer-item-detail")
                h3 应用领域
                h4 APPLICATION AREA
                div(class="dividing-line-container")
                    img(src="/images/front_end/item_detail_mark.png")
                ul
                    li()
                        //a(href="/application/chemical") 石油、石化领域
                        a(href="#") 石油、石化领域
                    li
                        //a(href="/application/nuclear") 制盐、制碱领域
                        a(href="#") 制盐、制碱领域
                    li()
                        //a(href="/application/seal") 化工、煤化工、化肥领域
                        a(href="#") 化工、煤化工、化肥领域
                    li()
                        //a(href="/application/seal") 涂装、发电、污水处理领域
                        a(href="#") 涂装、发电、污水处理领域
            div(class="footer-item-detail clearfix item_last")
                h3 联系我们
                h4 CONTACT US
                div(class="dividing-line-container")
                    img(src="/images/front_end/item_detail_mark.png")
                P.item_last_slogan 如有任何疑问请联系我们，我们将竭诚为您服务。
                div(class="item-detail-contact")
                    div(class="contact-address")
                    //i(class="fa fa-location-arrow contact-padding-larger")
                    span 重庆市北碚区童家溪镇同兴北路198号
                div(class="item-detail-contact")
                    //i(class="fa fa-envelope-o")
                    div(class="contact-email")
                    span cqyir@vip.163.com
                div(class="item-detail-contact")
                    //i(class="fa fa-phone contact-padding-larger")
                    div(class="contact-phone")
                    span 023-68329999
    div(class="front_end_copyright")
        div(class="front_end_item_container front_end_copyright_item")
            p(class="copy-right-mark") 重庆伊尔流体设备制造有限公司版权所有
                a(href="http://www.miitbeian.gov.cn" style="color: #fff")    渝ICP备17004959号-1
            a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010902000221" style="display: block; color: #eee; opacity: 0.6")
                img(src="/images/ghs.png")
                span(style="vertical-align: super; margin-left: 5px") 渝公网安备 50010902000221号
