footer.main-footer
    .pull-right.hidden-xs
        b Version
        |  2.0.0
    strong
        | Copyright © 2016-2018
        a(href='http://cqyir.com/') 重庆伊尔流体设备制造有限公司
        | .
    |  All rights
    |     reserved.