doctype html
html
    head(lang='zh-cmn-Hans')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')

        block title

        // favicon.icon
        link(href='/images/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='/images/favicon.ico', rel='icon', type='image/x-icon')
        link(href='/images/favicon.ico', rel='bookmark', type='image/x-icon')

        // 引入字体样式
        //link(rel='stylesheet', href='/plugins/font/font-awesome.css')
        //link(rel='stylesheet', href='/plugins/bootstrap/bootstrap.min.css')
        //link(rel='stylesheet', href='/plugins/adminLET/AdminLTE.css')
        //link(rel='stylesheet', href='/plugins/adminLET/skins/_all-skins.min.css')
        //link(rel='stylesheet', href='/plugins/common/common.css')
        link(rel='stylesheet', href='/css/back_end/common.css')
        // 引入共有的paging样式文件
        //link(rel='stylesheet', href='/css/front_end/front_end_paging-c53c1ed8cb.css')
        //if lt IE 9
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

        // 定义私有的css block
        block css

    body.hold-transition.skin-blue.sidebar-mini
        .wrapper

            // 引入共有的header
            include ./back_end_header.jade


            block content

            // 引入共有的header
            include ./back_end_footer.jade

            // 引入公有的JS文件
            script(src='/plugins/jquery/jquery-1.10.2.min.js')
            script(src='/plugins/jquery/jquery-ui.min.js')
            script(src='/plugins/jquery/global.js')
            script(src='/plugins/bootstrap/bootstrap.min.js')
            script(src='/plugins/adminLET/app.js')
            script(src='/plugins/common/common.js')
            script(src='/js/back_end/common.js')

            // 定义私有的js block
            block js
