// 集成模板
extends ../front_end_layout
block title
    title 企业概况-重庆博格曼密封件有限公司

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_about/about.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 发展历程   DEVELOPMENT
            p.subtitle 首页>>企业概况>>发展历程
        .content-detail
            .content-detail-left
                .detail-title
                    h4 发展历程
                    hr
                .detail-content-develop
                    .detail-top
                        span Develop
                        .detail-top-value
                            p 重庆博格曼密封件有限公司坐落于西部唯一的年轻直辖市--重庆，是一家集生产、研发、销售为一体，并通过ISO9001认证的机械密封生成制造企业。我们不是什么都做的企业，我们只专业生产制造泵用机械密封。公司经过多年发展，现已拥有一批强大的技术人才和先进的机加工设备，销售网络布局全国，在八大区域分别建立了服务支撑团队，产品质量及售后服务获得了广大客户的一致好评。公司经过多年发展，现已形成了多条机械密封产品线。其中，部分产品已获得国家专利并已经成功应用于石油、化工、苯加氢、加氢注水、盐碱、涂装、发电、蛋氨酸等领域。
                    .detail-middle
                        ul
                            li
                                span 2013年获得机械密封全国工业产品生产许可证
                            li
                                span 2013年获得ISO9001质量管理体系
                            li
                                span 2013年活动ISO14001环境管理体系
                            li
                                span 2013年获得江苏大学流体机械工程技术研究中心机械密封试验平台验证证书
                            li
                                span 2015年机械密封多条产品线正式上线运行
            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../about") 公司简介
                        li
                            a(href="../about/develop") 发展历程
                        li
                            a(href="../about/honor") 荣誉资质
                        li
                            a(href="../about/enterprise") 企业风采
                        li
                            a(href="../about/speech") 董事长致辞
                .hot-recommend
                    h4 热点内容
                    ul
                        -for(var i = 0; i < hotRecommend.length; i++)
                            li
                                a(href="../news/detail?id=#{hotRecommend[i]._id}").title #{hotRecommend[i].title}
                                span.title-date #{hotRecommend[i].formatCreatedTime}

// 引入私有的js
block js
