// 集成模板
extends ../front_end_layout
block title
    title 企业概况-重庆伊尔流体设备制造有限公司

// 引入私有的css
block css
    link(rel='stylesheet', href='/css/front_end/front_end_about/about.css')

block content
    .banner-container
    .content-container
        .content-title
            h3.title 董事长致辞   SPEECH
            p.subtitle 首页>>企业概况>>董事长致辞
        .content-detail
            .content-detail-left
                .detail-title
                    h4 董事长致辞
                    hr
                .detail-content-speech
                    .detail-top
                        span Speech
                        .detail-top-value
                            p 重庆伊尔流体设备制造有限公司，注册资金伍仟伍佰壹拾捌万元，是一家集生产、研发、销售为一体，并通过ISO9001认证的立卧式石油化工泵制造厂家。我们只专业研发制造：各种立卧式化工流程泵、小流量高扬程皮托管泵（又名旋转喷射泵、旋壳泵）、无泄漏磁力泵以及机械密封。并已获得多项国家专利并已经成功应用于石油、化工、苯加氢、加氢注水、盐碱、涂装、发电、蛋氨酸等领域。
                    .detail-middle
                        p 伊尔流体自成立以来，始终秉承“以科技为先导、以创新求发展、以质量求生存、以诚信待客户”的企业精神，大力实行“人才为本，科技领先，用户至上”的经营理念。全面贯彻“科技兴国”的战略目标，积极推进生产制造、石油化工行业的进步，努力实现企业经济效益与社会综合价值。为此，伊尔公司全体员工勤勉敬业,拼搏进取, 在过去的几年时间里取得了长足进步，并受到了客户的一致好评。
                        p 我们始终关注于产品质量，引进了一流的产品质量管理体系和一流的研发体系。经过几年的积淀，公司研发生产的新一代小流量、高扬程皮托管泵在国内名列前茅，技术先进、质量过硬，已成为公司的明星产品。然而，伊尔人不骄不躁，依然敢于拼搏，努力上进，持续不断的对产品进行优化，持续提升产品质量和服务水平，努力与国际接轨，为客户提供具有国际品质的产品和服务。
                        p 在关注产品质量的同时，伊尔人始终坚持以人为本，诚信待人的信念。保证最优质的产品质量、保证最好的售后服务。全面贯彻“顾客至上、安全优质、环保健康、遵规守法、持续改进”的质量方针。以良好的品牌形象迎接市场的挑战，积极进取，争取创新属于伊尔的辉煌！
                        p 愿与广大用户携手合作，共谋发展！
                    .detail-bottom
            .content-detail-right
                .about-nav
                    h4  栏目列表
                    ul
                        li
                            a(href="../about") 公司简介
                        li
                            a(href="../about/develop") 发展历程
                        li
                            a(href="../about/honor") 荣誉资质
                        li
                            a(href="../about/enterprise") 企业风采
                        li
                            a(href="../about/speech") 董事长致辞
                .hot-recommend
                    h4 热点内容
                    ul
                        -for(var i = 0; i < hotRecommend.length; i++)
                            li
                                a(href="../news/detail?id=#{hotRecommend[i]._id}").title #{hotRecommend[i].title}
                                span.title-date #{hotRecommend[i].formatCreatedTime}

// 引入私有的js
block js
